body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  display: grid;
  place-items: center;
  height: 100vh;
}

.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(100, 155, 127);
  position: relative;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

.animated {
  animation-name: figure-eight;
}
@keyframes figure-eight {
  0% {
    left: 0%;
    top: 0%;
  }
  16.6% {
    left: 100%;
    top: 0%;
    transform: translate(-100%, 0);
  }
  33.2% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  49.8% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
  }
  66.4% {
    left: 0%;
    top: 100%;
    transform: translate(0, -100%);
  }
  83% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.box {
  height: 400px;
  width: 80vmax;
  border: cadetblue solid 2px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.button {
  width: 100px;
  background-color: #3f948f;
  border: none;
  color: white;
  padding-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  justify-self: center;
  margin-top: 8px;
  position: relative;
  
}
